<html>
<head>
<title>登录</title>
<link rel="stylesheet" href="" type="text/css">
</head>
<body >
<div align="center" class="gray-background">

<form name="form1" οnsubmit="return check()"  action="" method="post">
<table width=400 class="ss-background" >
<tr><td colspan="2" align="center">登陆界面</td></tr>
<tr><th>用户名：  </th><td><input type="text" name="user" required="required"></td></tr>
<tr><th>用户密码：</th><td><input type="password" name="pwd" required="required"></td></tr>
<tr></tr>
<tr></tr>
<tr><td colspan="2" align="center"><button type="submit" name="but" class="btn">登陆</button>  <button type="button" name="but" class="btn" οnclick="window.location.href=('register.html')">注册</button>
</td></tr></table>
</form></div>
</body>
